{% extends "template.html" %}

{% block body %}

<form method="POST">
  <center>
    <h2>what</h2>
    <input name="target" type="text" placeholder="target..." required>
  </center>

  <section class="columns">
    <div class="column">
      <h2>where</h2>
      <input name="observatory" class="awesomplete" data-list="{{ obs }}" />
    </div>

    <div class="column">
      <button class="button" type="submit">Go</button>
    </div>

    <div class="column">
      <h2>when</h2>
      <input name="date" id="date" type="date" placeholder="date..." />
    </div>
</form>

</section>

<!-- <footer>
        <p>Created by João Faria</p>
    </footer> -->

{% endblock %}
