<!-- <form method="POST">
    <input name="target">
    <input type="submit">
</form> -->

<!doctype html>
<title> - caniobserveit - </title>
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='structure.css') }}">

<div class="wrapper">

    <center>
    <h2>what</h2>
    <form method="POST">
        <input name="target" type="text" placeholder="target..." required>
        <input type="button" value="Go!">
    </form>
    </center>

    <!-- <header>
        <h1>3 Column Responsive Layout</h1>
    </header> -->
        
    <section class="columns">
        
        <div class="column">
            <h2>where</h2>
            <form method="POST">
                    <input name="target" type="text" placeholder="target..." required>
                    <input type="button" value="Go!">
            </form>
        </div>
        
        <div class="column">
            <h2>when</h2>
            <form method="POST">
                    <input name="target" type="text" placeholder="target..." required>
                    <input type="button" value="Go!">
            </form>
        </div>
        
    </section>	
        
    <!-- <footer> 
        <p>Created by João Faria</p>
    </footer> -->
    
</div>